services:
    - type: web
      name: drawballz-simulation
      env: node
      plan: free
      buildCommand: npm install && npm run build
      startCommand: npm run start
      autoDeploy: true
      healthCheckPath: /health
      envVars:
          - key: NODE_ENV
            value: production
