services:
    - type: web
      name: drawballz-server
      env: node
      buildCommand: npm install && npm run build
      startCommand: npm start
      envVars:
          - key: PORT
            value: 10000
